.test-container {
	background: #f7f7f7;
	width: 500px;
	margin: 90px auto;
	padding: 20px;
	.tag-box {
		display: flex;
		margin-bottom: 20px;
		div {
			height: 34px;
			line-height: 34px;
			padding: 0 16px;
			margin-right: 10px;
			background: #fff;
			cursor: pointer;
			box-shadow: 0px 0.5px 1.5px rgba(0, 0, 0, 0.1);
		}
	}
	.editor {
		height: 120px;
		overflow-y: scroll;
		border: 1px solid #f0f0f0;
		background: #fff;
	}
}